@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;790;900&display=swap');

:root {

  /* COLORS */

  --body-color: rgb(208 , 213 , 226);

  --text-color: rgb(27 , 26 , 26);

  --barra-lateral-color: white;

  --primary-color: rgb(35 , 158 , 167);

  --toggle-color: rgb(212 , 212 , 212);

  /* TRANSITIONS */

  --tran-02: all 0.2s ease;

  --tran-03: all 0.3s ease;

  --tran-04: all 0.4s ease;

  --tran-05: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  height: 100vh;
  background: var(--toggle-color);
}

h1 {
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 200;
}

header > p {
  text-transform: lowercase;
  font-style: italic;
}

li {
  list-style: none;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
  text-align: justify;
  transition: var(--tran-04);
}

.selected {
  background-color: rgba(128 , 128 , 128 , 0.4);
}

.completed {
  text-decoration: line-through;
}

.taskList {
  margin: auto;
  border-radius: 4px;
  background-color: var(--barra-lateral-color);
  box-shadow: 0 1px 10px gray;
  border-top: 8px solid rgb(47 , 193 , 140);
  max-width: 60vw;
  min-width: 60vw;
  max-height: 60vh;
  min-height: 60vh;
}

.addTask-input {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  gap: 24px;
  align-items: center;
}

button {
  background: var(--barra-lateral-color);
  border: none;
  padding: 2px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  align-items: center;
  font-weight: 400;
}

.options {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-evenly;
  max-width: 70vw;
  margin: auto;
}

#apaga-tudo {
  background-color: rgb(255 , 51 , 51);
  color: var(--barra-lateral-color);
}

#remover-selecionado {
  background-color: rgb(151 , 151 , 151);
  color: var(--text-color);
}

#salvar-tarefas {
  background-color: rgb(47 , 133 , 214);
}

input {
  min-width: 70vw;
  border-radius: 14px;
  box-shadow: none;
  border: none;
  padding: 6px;
}

.bx-add-to-queue {
  font-size: 18px;
  color: white;
}

#criar-tarefa {
  background-color: rgb(47 , 193 , 140);
  transition: var(--tran-02);
}

#criar-tarefa:active {
  background-color: var(--toggle-color);
}
